.header-container {
    display: flex;
    z-index: 1000;
    position: fixed;
    top:0;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #fff;
    
  }
  
  .header-logo-cont {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    width: 3rem;
    cursor: pointer;
  }
  
  .header-right-cont {
    display: flex;
    align-items: center;
    gap:2rem;
  }


  .header-download-app-cont{
    background-color: #E4EDFF;
    color:#30363C;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding:0rem 2rem ;
    transition: transform 1s ease-in-out;
  }

  .header-download-app-cont:hover{
    transform: scale(1.05);
  }

  .header-download-app-cont:hover{
    .header-mobile-icon{
      animation: shake 0.5s ease-in-out;
    }
  }

  @keyframes shake {
    0%{
        transform:rotate(20deg)
    
    }
    20%{
      transform:rotate(0deg)
  
    }
    40%{
      transform:rotate(-20deg)
  
   }
   60%{
    transform:rotate(0deg)

  }
  80%{
    transform:rotate(20deg)

  }
  100%{
    transform:rotate(0deg)

  }
  }
  
  .header-download-app-cont,
  .header-login-cont {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .header-login-cont{
    font-size:1.5rem;
    font-weight: 500;
  }

  .header-login-cont div{
    display: flex;
  }

  .header-login-cont div span{
   
   font-size: 4rem;
   margin-top: -50%; 
    color: #F47779;
   
  }
  
  .header-mobile-icon{
    font-size: 2rem;
  }
  .header-login-icon
  {
    font-size: 2.5rem;
    color:#FBD122;
  }
  
  .header-cart-icon {
    font-size: 2.5rem;
    color: rgb(199, 199, 199);
    cursor: pointer;
  }

  .header-cart-icon:hover{
    color:#FBD122;
  }


  @media screen and (max-width:950px){


    .header-container{
      padding:5% ;
    }

    .header-download-app-cont,.header-login-cont{
      display: none;

    }

    
    
  }